* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: #f5f5f5;
  --snd-bg-color: #ececec;
  --text-color: #000;
  --main-color: #89b2f4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}

.navbar a{
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: #000000;
  left: 0;
  bottom: 0;
  top: 2rem;
  transform: scale(0, 1);
  transition:  0.4s ease;
}

.navbar a:hover::after{
  transform: scale(1 ,1);
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a:active {
  color: #000000ab;
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 500;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 3.5rem;
  font-weight: 550;
  line-height: 1.3;
}

.home-img img {
  width: 23vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 2rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6em;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about-img img {
  width: 26vw;
  border: solid 6px #89b2f4;
  border-radius: 3rem;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  text-align: top;
  line-height: 1.2;
  margin-bottom: 8rem;
}

.about-content h3 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.about-content .about-p {
  font-size: 19px;
  margin: 2rem 0 3rem;
  font-weight: 450;
}

.box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.box-container {
  background-color: var(--snd-bg-color);
  width: 15vw;
  height: 10vw;
  border-radius: 10px;
  box-shadow: 0 0 2rem #ececec5a;
}

.box-container:hover {
  transform: scale(1.02);
}

.box-container i {
  font-size: 40px;
  padding-left: 95px;
  padding-top: 15px;
  color: #89b2f4;
}

.box-container h2 {
  color: #000;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}

.box-container p {
  font-size: 17px;
  color: #000;
  text-align: center;
  padding-top: 5px;
}

.skills .heading {
  padding-top: 5rem;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-radius: 7px;
  padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.container .skill-box {
  width: 80%;
  margin: 25px 0;
}
.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}
.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.css {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.javascript {
  width: 85%;
  animation-delay: 0.15s;
}
.skill-per.reactjs {
  width: 70%;
  animation-delay: 0.2s;
}
.skill-per.reactnative {
  width: 85%;
  animation-delay: 0.3s;
}
.skill-per.mangodb {
  width: 60%;
  animation-delay: 0.25s;
}
.skill-per.python {
  width: 80%;
  animation-delay: 0.3s;
}
.skill-per.github {
  width: 95%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

.services h2 {
  margin-bottom: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  width: 30vw;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
  padding-top: 20px;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  padding-top: 5px;
  line-height: 20px;
  font-weight: 500;
}

.portfolio {
  background: var(--snd-bg-color);
  overflow-x: hidden;
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.7;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: var(--snd-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--snd-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: var(--snd-bg-color);
}

.footer-text {
  font-size: 1.6rem;
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 2rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--snd-bg-color);
}

.footer p span {
  color: #000;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .services {
    padding: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .container {
    grid-template-columns: 1fr;
    padding-left: 45px;
    padding-right: 45px;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: transparent;
    backdrop-filter: blur(5.5rem);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    height: 210vw;
    padding-top: 15rem;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 3rem;
    margin: 3rem 0;
    text-align: center;
    padding-top: 2rem;
    font-weight: 400;
  }
  
.navbar a::after {
  width: 0%;
}

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content p{
    line-height: 3.5rem;
    font-size: 2.8rem;
  }

  .home-content {
    order: 2;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column;
  }

  .about-img img {
    width: 90vw;
    margin-top: 4rem;
  }

  .about p{
    line-height: 3.6rem;
  }

  .about h3{
    font-size: 3.5rem;
  }

  .box-container {
    width: 30vw;
    height: 30vw;
  }

  .box-container i {
    font-size: 35px;
    padding-left: 50px;
    padding-top: 20px;
  }

  .box-container h2 {
    font-size: 18px;
  }

  .box-container p {
    font-size: 14px;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-box img {
    max-width: 90vw;
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container .skill-box {
    width: 100%;
  }
  .home-img img {
    width: 70vw;
  }
  .about-img img {
    width: 85vw;
    height: 90vw;
    margin-top: 3rem;
  }
  .box-container {
    width: 30vw;
    height: 35vw;
  }

  .box-container i {
    font-size: 35px;
    padding-left: 50px;
    padding-top: 20px;
  }

  .box-container h2 {
    font-size: 18px;
  }

  .box-container p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}
